@import "tailwindcss";

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  
  --animate-text: text 20s ease-in-out infinite;
  
  @keyframes text {
    0% {
      background-size: 400% 400%;
      background-position: 0% 50%;
    }
    50% {
      background-size: 400% 400%;
      background-position: 100% 50%;
    }
    100% {
      background-size: 400% 400%;
      background-position: 0% 50%;
    }
  }
}

html {
  scroll-behavior: smooth;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.custom-bg {
  background-image: radial-gradient(circle at center, #eaa400, #d8650c, #fb7185);
  background-size: 400% 400%;
  background-position: 0% 50%;
  animation: text 20s ease-in-out infinite;
  position: relative;
}

.custom-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    repeating-linear-gradient(
      0deg,
      transparent 0px,
      transparent 1px,
      rgba(0, 0, 0, 0.06) 1px,
      rgba(0, 0, 0, 0.06) 2px
    ),
    repeating-linear-gradient(
      90deg,
      transparent 0px,
      transparent 1px,
      rgba(0, 0, 0, 0.06) 1px,
      rgba(0, 0, 0, 0.06) 2px
    );
  opacity: 0.4;
  pointer-events: none;
  mix-blend-mode: overlay;
}
